p {
  margin-top: 0;
  margin-bottom: 0;
}

body{
  font-family: roboto, arial;
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  padding-bottom: 30px;
  background-color: rgb(250, 249, 249);
}

@media (min-width: 1200.1px) {
  body {
  margin-left: 200px;
  }
}