.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid rgb(220,220,220);  
  z-index: 100;
}

.left-section{
  display: flex;
  align-items: center;
}

.hamburger-menu{
  height: 24px;
  margin-left: 22px;
  margin-right: 22px;
}

.youtube-logo{
  height: 20px;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 470px;
  display: flex;
  align-items: center;
}

.search-bar{
  flex: 1;
  height: 36px;
  padding-left: 10px;
  border: 1px solid rgb(204,204,204);
  font-size: 16px;
  border-radius: 2px;
  box-shadow: inset 0px 1px 2px rgb(238,238,238);
  width: 0;
}

.search-bar::placeholder{
  font-size: 16px;
}

.search-button{
  width: 66px;
  height: 39px;
  background-color: white;
  border: 1px solid rgb(204,204,204);
  margin-left: -1px;
  margin-right: 10px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip{
  position: absolute;
  background-color: rgba(96,96,96,0.9);
  color: white;
  padding: 8px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -45px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
  opacity: 1;
}

.search-icon{
  height: 25px;
}

.voice-search-button{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: white;
}

.voice-search-icon{
  height: 24px;
}

.right-section{
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
}

.youtube-apps-icon{
  height: 24px;
}

.notifications-icon-container{
  position: relative;
}

.notifications-icon{
  height: 24px;
}

.notifications-count{
  position: absolute;
  background-color: rgb(204,0,0);
  color: white;
  border-radius: 80px;
  top: -3px;
  right: -7px;
  font-size: 10px;
  padding: 1.5px 5px;
  border: 2px solid white;
}

.current-user-picture{
  height: 32px;
  border-radius: 16px;
}

