.thumbnail{
  width: 100%;
}

.video-title{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

@media (min-width: 1000px) {
  .video-title{
    font-size: 16px;
    line-height: 24px;
  }
}

.video-title-link{
  color: black;
  text-decoration: none;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture{
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row{
  margin-bottom: 8px;
  position: relative;
}

.time{
  position: absolute;
  background-color: black;
  color: white;
  bottom: 11px;
  right: 4px;
  font-size: 12px;
  padding: 4px;
  border-radius: 2px;
  font-weight: 500;
}

.video-author,
.video-stats{
  font-size: 12px;
  color: rgb(96,96,96);
}

@media (min-width: 1000px) {
  .video-author,
  .video-stats{
    font-size: 14px;
  }
}

.video-author{
  margin-bottom: 4px;
}

.video-channel-link{
  text-decoration: none;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width:999px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.channel-picture-container{
  position: relative;
  display: inline-block;
}

.channel-tooltip{
  background-color: white;
  width: 200px;
  padding: 12px 12px;
  box-shadow: 2px 3px 10px rgba(0,0,0,0.3);
  border-radius: 6px;
  position: absolute;
  top: 50px;
  z-index: 300;
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
}

.channel-picture-container:hover .channel-tooltip{
  opacity: 1;
}

.channel-tooltip-picture{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-right: 8px;
}

.channel-tooltip-name{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}

.channel-tooltip-stats{
  font-size: 14px;
  color: rgb(96,96,96);
}

